@import "variables";

.button-primary {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.button-success {
  background-color: $success-color;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    background-color: darken($success-color, 10%);
  }
}
